body{
    background-image: url(Flower\ Bunny\ Background.png);
    background-size: cover;
}

h1{
    font-size: 70px;
    padding-left: 100px;
    padding-top: 87px;
    font-family: "League Script", cursive;
    font-weight: 400;
    font-style: normal;
}

button {
    margin-left: 95px;
    padding: 17px;
    border-radius: 70px;
    background-color: white;
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.boxes {
    background-color: rgb(255, 214, 224);
    width: 340px;
    height: 340px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 40px;
    display: inline-block;
}

.box {
    background-color: rgb(255, 235, 240);
    width: 340px;
    height: 340px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 40px;
    display: inline-block;
}

h2 {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 10px;
}

p{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 7px;
    position: relative;
    top: -15px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bunny{
    display: none;
}

@media screen and (max-width:600px) {
    #container{
        flex-direction: column;
    }
    .box{
        margin-left: 40px;
    }
    .boxes {
        margin-left: 40px;
    }
    h1{
        margin-top: 0;
        padding-top: 20px;
        padding-left: 40px;
    }
   button{
    margin-left: 30px;
   }
   #box2{
    margin: 30px 0;
    padding: 14px;
   }
   #box1{
    padding: 14px;
   }
   #box3{
    padding: 14px;
   }
   .bunny{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   }
   .bunny img{
    width: 300px;
   }

}

